*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: hsl(257, 40%, 49%);
    color: white;
    font-family: 'Poppins', 'Courier New', Courier, monospace;
    position: relative;
    background-image: url("/images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;
}

header img {
    margin: 10px;
}

.intro .image img {
    max-width: 80vw;
    margin: 15px;
    padding: 16px;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.intro h1 {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.intro h2 {
    font-size: 15px;
    font-weight: 400;
    max-width: 60vw;
    text-align: center;
}

.register {
    text-decoration: none;
    color: hsl(300, 69%, 71%);
    font-size: 15px;
    background-color: white;
    border: 2px solid white;
    margin: 15px;
    padding: 5px 60px;
    border-radius: 15px;
}

.attribution {
    color: white;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons img {
    width: 50px;
    height: 50px;
    margin: 10px;
    padding: 8px;
    border: 2px solid white;
    border-radius: 50%;
}

@media screen and (min-width: 768px) {
    body {  
        background-image: url("/images/bg-desktop.svg");
        background-repeat: no-repeat;
        background-position: center;
    }

    .intro .image img {
        max-width: 50vw;
        margin: 15px;
        padding: 16px;
        background-position: left ;
    }

    .intro {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .intro h1 {
        font-size: 20px;
        font-weight: 600;
        text-align: center;
    }

    .intro h2 {
        font-size: 15px;
        font-weight: 400;
        max-width: 60vw;
        text-align: center;
    }
}